nav {
    margin-left: 8%;
    margin-right:8%;
    padding-left: 20px;
    padding-right: 20px;
    display:flex ;
    justify-content: space-between; 
    border-bottom: 0.5px solid;
    border-color: rgba(0, 0, 0, 0.3);
    padding-top: 15px ;
    padding-bottom: 5px;
    font-size: 16px;
}

.master{
    font-family: Pristina;
    font-size:35px;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 10px;
}

.login {
    padding:0.3em 1.0em 0.5em 1.0em;
}

.button {
    display:inline-block;
    padding:0.5em 1.0em 0.6em 1.0em;
    margin-top: 8px;
    border-radius:2em;
    border: 2px solid black;
    
    text-decoration:none;
    color:#FFFFFF;
    background-color:black;
    text-align:center;
    transition: all 0.2s;
    }
.button:hover{
    cursor: pointer;
    background-color:white;
    color: black;
    
    }